<app-navbar></app-navbar>

<div class="container-nav">
  <mat-card-title class="pseudo" style="font-family: 'Playfair Display', serif;">Gauthier</mat-card-title>
  <a href="/contact">
    <button mat-mini-fab class="message">
      <mat-icon>message</mat-icon>
    </button>
  </a>
</div>


<div class="container responsive-grid">
  <mat-card *ngFor="let post of posts">
    <div class="card-container">
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
      </mat-card-header>
      <br/>
      <div class="img-container">
        <img mat-card-image ngSrc="{{assetsBaseUrl}}{{post.img}}" alt="image du post" fill class="post-image"/>
      </div>
      <mat-card-content>
        <br/>
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-card-actions>
                <mat-button-toggle [ngClass]="{'liked': post.liked}" (click)="likePost(post)">LIKE</mat-button-toggle>
                <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
