<h3 mat-card-title>Inscription</h3>

<div class="form_container">
  <mat-form-field class="group">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email">
  </mat-form-field>
  
  <mat-form-field class="group">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" name="password">
  </mat-form-field>
</div>

<div class="button">
  <a href="/home"><button mat-raised-button color="primary">S'inscrire</button></a>
</div>

<div class="login">
    <p>Je n'ai pas de compte. <a href="/login">Login</a></p>
</div>
