.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #4e5e45;
  color: #f0f0f0;
  width: 100%;
  left: 0;
}

.header .message-return {
  color: #f0f0f0;
  margin: auto 5px;
}

.header .header-title {
  margin: auto 10px;

}

.contacts-list {
  margin-top: 65px;
  height: auto;
  max-height: calc(100% - 25px);
}

.contacts-list-item-bottom {
  margin-top: 5px;
  height: 1px;
  background-color: rgba(78, 94, 69, 0.32);
}

.contacts-list-item {
  padding-top: 35px;
  color: #4E5E45;
  padding-bottom: 28px;
}

.contacts-list-item:hover{
  cursor: pointer;
}

.top-item {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.top-item .contact-username {
  font-weight: bold;
  margin-left: 25px;
}

.top-item .contact-lastChat {
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  margin-left: auto;
  margin-right: 0;
}

.top-item * {
  margin: auto 0;
}

.contact-icon {
  margin-bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
