@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*:not(mat-icon) {
    font-family: 'Playfair Display', serif;

}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }

.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.name p {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.message {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3vh;
    margin-right: 5vw;
    background-color: #4E5E45;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.exit_to_app {
  position: absolute;
  background-color: transparent;
  color: #4E5E45;
  margin-top: 1vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.post-container {
  margin-bottom: 50px;
}

.post-card {
  display: flex;
  margin-bottom: 15px;
}

.post-image {
  width: 350px;
  margin: 0 auto;
}



