<div class="container-nav">
  <button (click)="logout()" mat-icon-button class="exit_to_app">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button (click)="navigateToContact()" mat-mini-fab class="message">
    <mat-icon>message</mat-icon>
  </button>
</div>
<div class="profile-container">
  <img [src]="assetsBaseUrl + 'default'" alt="Photo de profil" class="profile-image"/>
</div>
<div class="name">
  <p>{{ currentProfile.userName }}</p>
</div>

<mat-tab-group>
  <mat-tab label="Posts">
    <div class="post-container">
      <mat-card *ngFor="let post of posts" class="post-card">
        <div class="header">
          <mat-chip color="primary">{{ post.type }}</mat-chip>
          <mat-chip class="date-guard" *ngIf="post.guardingAt"> {{ printTimestamp(post.guardingAt!) }}
            - {{ printTimestamp(post.endGuardingAt!) }}
          </mat-chip>
        </div>
        <img *ngIf="post.img" mat-card-image [src]="assetsBaseUrl + post.img" alt="Visuel du Post" class="post-image">
        <mat-card-content>
          <h3 mat-card-title>{{ post.title }}</h3>
          <p mat-card-subtitle>{{ post.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Favoris">
    <div class="post-container">
      <mat-card *ngFor="let post of favorites" class="post-card">
        <img mat-card-image [src]="assetsBaseUrl + post.img" alt="Visuel du post" class="post-image">
        <mat-card-content>
          <h3 mat-card-title>{{ post.title }}</h3>
          <p mat-card-subtitle>{{ post.content }}</p>
        </mat-card-content>
        <mat-card-actions>
          <mat-button-toggle [checked]="true" onKeyDown="toggleLike(post)" (click)="toggleLike(post)">J'aime</mat-button-toggle>
          <button mat-button>Partager</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Plantes gardées">
    <div class="post-container">

      <mat-card *ngFor="let post of postsGuarding" class="post-card">
        <div class="header">
          <mat-chip color="primary">{{ post.type }}</mat-chip>
          <mat-chip class="date-guard" *ngIf="post.guardingAt"> {{ printTimestamp(post.guardingAt!) }}
            - {{ printTimestamp(post.endGuardingAt!) }}
          </mat-chip>
        </div>
        <img *ngIf="post.img" mat-card-image [src]="assetsBaseUrl + post.img" alt="Visuel du post" class="post-image">
        <mat-card-content>
          <h3 mat-card-title>{{ post.title }}</h3>
          <p mat-card-subtitle>{{ post.content }}</p>
        </mat-card-content>
      </mat-card>

    </div>

  </mat-tab>
</mat-tab-group>

