<div class="new-post">
  <mat-chip-listbox class="chips-container" aria-label="Search Choice" [(ngModel)]="selectedChip"
                    (ngModelChange)="onChipSelectionChange()">
    <div class="select-chips">
      <mat-chip-option color="accent" selected *ngFor="let choice of Object.values(choiceNewPost)" [value]="choice">
        {{ choice }}
      </mat-chip-option>
    </div>
  </mat-chip-listbox>

  <div class="new-post-container">
    <div class="new-post-title">
      <p *ngIf="selectedChip==choiceNewPost.POST">Posez une question</p>
      <p *ngIf="selectedChip==choiceNewPost.CATALOG">Partagez vos plus belles plantes</p>
      <p *ngIf="selectedChip==choiceNewPost.GUARDINGPOST">Faites garder vos plantes</p>
    </div>

    <form class="new-post-form" [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Ajoutez un titre</mat-label>
        <input matInput class="new-post-input input-text" type="text" id="title" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Donnez une petite description</mat-label>
        <textarea
          #autosize="cdkTextareaAutosize"
          cdkTextareaAutosize
          matInput
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
          class="new-post-input" type="text" id="content" formControlName="content">
        </textarea>
      </mat-form-field>

      <label  *ngIf="selectedChip!==choiceNewPost.POST" for="fileInput" class="custom-file-input new-post-button">Choisir un fichier</label>
      <input type="file" id="fileInput" style="display: none;" formControlName="img">
      <mat-form-field *ngIf="selectedChip===choiceNewPost.GUARDINGPOST">
        <mat-label>Début du guardiennage</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="guardingAt">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="selectedChip===choiceNewPost.GUARDINGPOST">
        <mat-label>Fin du guardiennage</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="endGuardingAt">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="selectedChip === choiceNewPost.GUARDINGPOST" class="example-full-width">
        <mat-label>Adresse</mat-label>
        <input type="text"
               (input)="autocompleteAddressChange()"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               formControlName="address"
               [matAutocomplete]="auto">

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let option of newOptions" [value]="option.display_name">{{ option.display_name }}</mat-option>
        </mat-autocomplete>
        <div *ngIf="createPostForm.value.address?.lon && createPostForm.value.address?.lat">
          <p>Longitude: {{ createPostForm.value.address.lon }}</p>
          <p>Latitude: {{ createPostForm.value.address.lat }}</p>
        </div>
      </mat-form-field>
      <button type="submit" class="custom-file-input new-post-button" [disabled]="createPostForm.invalid">Créer un Post</button>
    </form>
  </div>
</div>
