* {
  font-family: 'Playfair Display', serif;
}
.new-post {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.select-chips {
  margin: 0 auto;
}

.new-post-container {
  width: 80%;
  margin: 0 auto;
}

.new-post-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  padding: 25px 0;
  margin: 0 auto;
  text-align: center;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.new-post-button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 45px;
  border-radius: 25px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: #4e5e45;
  color: #f0f0f0;
  margin: 0 auto 15px auto;
  font-size: 15px;
}

.new-post-button:hover {
  color: #4e5e45;
  background-color: #f0f0f0;
  transition: .5s;
}

input[type="file"] {
  display: none;
}
