@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.message {
  margin: 2vh 0;
  background-color: #4E5E45;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Playfair Display', serif;
}

.mat-card {
  width: 100%;
  margin-bottom: 20px;
}

.card-container {

}

.img-container {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.post-image {
  display: block;
  position: initial!important;
}
