<h3 mat-card-title>Inscription</h3>

<form class="form_container" (ngSubmit)="onSubmit()">
  <mat-form-field class="group">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="form.userName" name="userName">
  </mat-form-field>

  <mat-form-field class="group">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" [(ngModel)]="form.password" name="password">
  </mat-form-field>

  <div class="group">
    <mat-checkbox [(ngModel)]="form.acceptsCgu" name="acceptsCgu">
      J'accepte les
      <button type="button" (click)="navigateToCgu()">Conditions Générales d'Utilisation</button>
    </mat-checkbox>
  </div>
  <div class="button">
    <button type="submit" [disabled]="!form.acceptsCgu" mat-raised-button>S'inscrire</button>
  </div>
</form>

<div class="login">
  <p>Deja un compte ?
    <button (click)="navigateToSignIn()" mat-button>Se connecter</button>
  </p>
</div>

