<mat-toolbar color="primary" class="navbar">
    <a mat-button href="home" class="nav-link">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-button href="#search" class="nav-link">
      <mat-icon>search</mat-icon>
    </a>
    <a mat-button href="#add" class="nav-link">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-button href="#forum" class="nav-link">
      <mat-icon>forum</mat-icon>
    </a>
    <a mat-button href="#profile" class="nav-link">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar>
  