<mat-toolbar class="navbar">
    <a mat-button routerLink="/" class="nav-link">
        <mat-icon class="white">home</mat-icon>
    </a>
    <a mat-button href="/search" class="nav-link">
      <mat-icon class="white">search</mat-icon>
    </a>
    <a mat-button href="/add" class="nav-link">
      <mat-icon class="white">add</mat-icon>
    </a>
    <a mat-button href="#forum" class="nav-link">
      <mat-icon class="white">forum</mat-icon>
    </a>
    <a mat-button href="/profile" class="nav-link">
      <mat-icon class="white">account_circle</mat-icon>
    </a>
  </mat-toolbar>
