@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*:not(mat-icon) {
    font-family: 'Playfair Display', serif;

}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  
.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.name p {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.message {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3vh;
    margin-right: 5vw;
    background-color: #4E5E45;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Utilisation de la fonction auto-fill pour ajuster le nombre de colonnes en fonction de l'espace disponible */
  gap: 10px; 

}

.post-item {
  border: 1px solid #ccc;
  overflow: hidden; 

}

img {
    width: 100%;
    height: 25vh;
}

.container-nav {
  display: flex;
  justify-content: space-between; /* Place les éléments à chaque extrémité du conteneur */
  align-items: center;
  padding: 0 10px; /* Ajoutez un peu de padding pour l'espace */
}

.exit_to_app {
  position: absolute;
  background-color: transparent;
  color: #4E5E45;
  margin-top: 1vh;

}




  
