<div class="container-nav">
  <a href="/login">
    <button mat-icon-button class="exit_to_app">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </a>
  <a href="/chat">
    <button mat-mini-fab class="message">
      <mat-icon>message</mat-icon>
    </button>
  </a>
</div>
<div class="profile-container">
  <img [src]="assetsBaseUrl + currentProfile.pdp" alt="Photo de profil" class="profile-image"/>
</div>
<div class="name">
  <p>{{ currentProfile.userName }}</p>
</div>

<mat-tab-group>
  <mat-tab label="Posts">
    <div class="posts-grid">
      <mat-card *ngFor="let post of posts" class="post-card">
        <img mat-card-image [src]="assetsBaseUrl + post.img" alt="Post Image">
        <mat-card-content>
          <h3 mat-card-title>{{ post.title }}</h3>
          <p mat-card-subtitle>{{ post.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-tab>
  <mat-tab label="Favoris">
    <div class="posts-grid">
      <mat-card *ngFor="let post of favorites" class="post-card">
        <img mat-card-image [src]="assetsBaseUrl + post.img" alt="Post Image">
        <mat-card-content>
          <h3 mat-card-title>{{ post.title }}</h3>
          <p mat-card-subtitle>{{ post.content }}</p>
        </mat-card-content>
        <mat-card-actions>
          <mat-button-toggle [checked]="true" (click)="toggleLike(post)">LIKE</mat-button-toggle>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Mes plantes"> Content 3</mat-tab>
</mat-tab-group>

