@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    font-family: 'Playfair Display', serif;

}
h3 {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

.button button{
    background-color: #4E5E45;
}

.group {
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.signup a {
    color: #4E5E45;
}

.signup p {
    text-align: center;
    margin-top: 4vh;
}

