.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #4e5e45;
  color: #f0f0f0;
  width: 100%;
  left: 0;
}

.header .message-return {
  color: #f0f0f0;
  margin: auto 5px;
}

.header .message-avatar {
  margin: auto 5px;
}

.header .message-username {
  margin: auto 10px;
}

.messages {
  z-index: -1;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 120px);
  bottom: 120px;
  width: 98%;
  padding: 0 25px 0 25px;
  left: 0;
  position: fixed;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.messages * {
  overflow-anchor: none;
}

.message-inner {
  overflow-anchor: auto;
  margin: 5px 0;
  display: flex;
}

.inner-left {
  flex-direction: row;
}

.inner-right {
  flex-direction: row-reverse;
}

.message-avatar {
  margin-bottom: 0;
  margin-top: auto;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}

.message-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message {
  margin-top: 15px;
  padding: 12px;
  flex-shrink: 0;
  overflow-wrap: break-word;
  text-align: left;
  display: block;
  border-radius: 18px;
  overflow: hidden;
}

.message-left {
  margin-left: 10px;
  background-color: #e6e7ec;
  color: #000000;
  max-width: calc(100% - 140px);
}

.message-right {
  max-width: calc(100% - 100px);
  background-color: #4e5e45;
  color: #ffffff;
}

.message-comment {
  font-size: 0.8rem;
  font-style: italic;
}

.message-action {
  margin-top: 10px;
  font-size: 0.8rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

.message-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.message-action-button {
  width: 75px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.message-action-button.accept{
  background-color: #4e5e45;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
}

.message-action-button.refuse{
  background-color: #f0f0f0;
  color: #4e5e45;
  border: 2px solid #4e5e45;
}

.message-action-button.accept:hover{
  background-color: #f0f0f0;
  color: #4e5e45;
  border: 2px solid #4e5e45;
  transition: 0.2s;
}

.message-action-button.refuse:hover{
  background-color: #4e5e45;
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  transition: 0.2s;
}


.message-input {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 91%;
  background-color: #f0f0f0;
  border-radius: 18px;
  padding: 10px;
  border:2px solid #c2c2c2;
  margin: 0 10px;
}

.message-date {
  margin: auto 5px auto 5px;
  font-size: 0.7rem;
  opacity: 0.35;
}

#message-input {
  width: 100%;
  background-color: transparent;
  border:none;
}

#message-input:focus {
  outline: none;
}

.message-submit {
  background-color: transparent;
  border: none;
  color: #4e5e45;
}
.message-submit:hover {
  background-color: transparent;
  cursor: pointer;
}
