<div class="chats">

  <div class="header">
    <button (click)="navigateToContact()" class="message-return">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="message-avatar">
      <img class="avatar" src="favicon.ico" alt="Pdp"/>
    </div>
    <div class="message-username">
      <p>{{ user }}</p>
    </div>
  </div>
  <div class="messages" #scrollContainer>
    <div class="message-inner"
         [ngClass]="{'inner-right': message.senderIdentifier !== user, 'inner-left': message.senderIdentifier === user}"
         *ngFor="let message of messages">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Ahmad Shadeed" *ngIf="message.senderIdentifier === user"/>
      </div>
      <div
        [ngClass]="{'message': true, 'message-right': message.senderIdentifier !== user, 'message-left': message.senderIdentifier === user}">
        {{ message.content }}
        <div class="message-comment"
             *ngIf="message.senderIdentifier !== user && message.type === 'GUARD_CLAIM'">Vous avez envoyé une
          demande de gardiennage
        </div>
        <div class="message-action"
             *ngIf="message.senderIdentifier === user && message.type === 'GUARD_CLAIM'  && message.accept === null">
          {{ message.senderIdentifier }} vous a fait une demande de gardiennage
          <div class="message-action-buttons">
            <button class="message-action-button accept" (click)="acceptGuardClaim(message, true)">Accepter</button>
            <button class="message-action-button refuse" (click)="acceptGuardClaim(message, false)">Refuser</button>
          </div>
        </div>
        <div class="message-comment"
             *ngIf="message.senderIdentifier === user && message.type === 'GUARD_CLAIM'  && message.accept === true">
          vous avez accepté la demande de gardiennage de {{ message.senderIdentifier }}
        </div>
        <div class="message-comment"
             *ngIf="message.senderIdentifier === user && message.type === 'GUARD_CLAIM'  && message.accept === false">
          vous avez refusé la demande de gardiennage de {{ message.senderIdentifier }}
        </div>
      </div>

      <div class="message-date">
        {{ message.createdAt }}
      </div>
    </div>
  </div>

  <div class="message-input">
    <input type="text" id="message-input" [(ngModel)]="messageContent" placeholder="Dites Bonjour">
    <button class="message-submit" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
