<div class="chats">
  <div class="header">
    <a href="/" class="message-return">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <div class="message-avatar">
      <img class="avatar" src="favicon.ico" alt="Pdp"/>
    </div>
    <div class="message-username">
      <p>{{ user }}</p>
    </div>
  </div>

  <div class="messages" #scrollContainer>
    <div class="message-inner"
         [ngClass]="{'inner-right': message.senderIdentifier !== user, 'inner-left': message.senderIdentifier === user}"
         *ngFor="let message of messages">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed" *ngIf="message.senderIdentifier === user" />
      </div>
      <div
        [ngClass]="{'message': true, 'message-right': message.senderIdentifier !== user, 'message-left': message.senderIdentifier === user}">
        {{ message.content }}
      </div>
    </div>
  </div>

  <div class="message-input">
    <input type="text" id="message-input" [(ngModel)]="messageContent" placeholder="Dites salam">
    <button class="message-submit" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
