<div class="chats">
  <div class="header">
    <a href="/" class="message-return">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <div class="message-avatar">
      <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
    </div>
    <div class="message-username">
      <p>USERNAME</p>
    </div>
  </div>

  <div class="messages">
    <div class="message-inner inner-left">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
      </div>
      <div class="message message-left">
        message leftmessage leftmessage leftmessage leftmessage leftmessage left
      </div>
    </div>
    <div class="message-inner inner-left">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
      </div>
      <div class="message message-left">
        message leftmessage leftmessage leftmessage leftmessage leftmessage left
      </div>
    </div>
    <div class="message-inner inner-left">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
      </div>
      <div class="message message-left">
        message leftmessage leftmessage leftmessage leftmessage leftmessage left
      </div>
    </div>
    <div class="message-inner inner-left">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
      </div>
      <div class="message message-left">
        message leftmessage leftmessage leftmessage leftmessage leftmessage left
      </div>
    </div>
    <div class="message-inner inner-left">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
      </div>
      <div class="message message-left">
        message leftmessage leftmessage leftmessage leftmessage leftmessage left
      </div>
    </div>
    <div class="message-inner inner-right">
      <div class="message message-right">
        message rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage
        right
      </div>
    </div>
    <div class="message-inner inner-right">
      <div class="message message-right">
        message rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage
        right
      </div>
    </div>
    <div class="message-inner inner-right">
      <div class="message message-right">
        message rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage
        right
      </div>
    </div>
    <div class="message-inner inner-right">
      <div class="message message-right">
        message rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage rightmessage
        right
      </div>
    </div>

    <div class="message-inner inner-left">
      <div class="message-avatar">
        <img class="avatar" src="favicon.ico" alt="Photo of Ahmad Shadeed"/>
      </div>
      <div class="message message-left">
        message leftmessage leftmessage leftmessage leftmessage leftmessage left
      </div>
    </div>
  </div>
  <div class="message-input">
    <input type="text" id="message-input" placeholder="Dites salam">
    <button class="message-submit">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
