<h3 mat-card-title>Login</h3>
<br>
<div class="form_container">
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && onSubmit()"
  >
    <mat-form-field class="group">
      <mat-label>Email</mat-label>
      <input matInput type="text" name="email" id="email" [(ngModel)]="form.userName" #email="ngModel" required>
      <mat-error *ngIf="email.errors && f.submitted">Email is required !</mat-error>
    </mat-form-field>

    <mat-form-field class="group">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" id="password" [(ngModel)]="form.password" #password="ngModel">
    </mat-form-field>
    <div class="button">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</div>
<div class="signup">
  <p>I don't have account. <a href="/signup">Sign Up</a></p>
</div>



